name: Publish to PyPI and TestPyPI
on:
  push:
    paths:
      - "bilibili_rater/**"
      - "tests/**"
      - ".github/workflows/**"
      - "pyproject.toml"
      - "uv.lock"
      - "requirements.txt"

env:
  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/v') }}

jobs:
  testing:
    uses: ./.github/workflows/Test.yml

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - testing
    if: github.event_name == 'push'
    permissions:
      id-token: write
    environment:
      name: pypi_release
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
            python-version: "3.12"
      - name: Set Up uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: |
          uv sync
      - name: Modify version
        if : env.IS_RELEASE != 'true'
        run: |
          uv version --bump patch --bump dev="$GITHUB_RUN_NUMBER"
      - name: Create wheel and sdist
        run: |
          uv build
      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          attestations: false

      - name: Publish distribution to PyPI
        if: env.IS_RELEASE == 'true'
        uses: pypa/gh-action-pypi-publish@release/v1